.color-red {
    color: red;
}

p {
    text-align: right;
}

h1 {
    color: aqua;
}

h2 {
    color: blueviolet;
}

h3 {
    color: chartreuse;
}

h4 {
    color: chocolate;
}

h5 {
    color: crimson;
}

h6 {
    color:gold;
}

#sfondo-blu {
    background-color: blue;
}

.text-big {
    font-size: 30px;;
}

.margin {
    margin-right: 80px;
}

.font {
    font-family: cursive;
}

* {
    border: 1px solid gray;
}