$red-color: red;
$global-font-size: 18px;
$justify-center: center;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1.4rem;
}

.wrapper {
    display: flex;
    justify-content: $justify-center;

    .container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: $justify-center;

        .navbar a {
            text-decoration: none;
            font-size: $global-font-size;
            padding: 1.3rem;
            &:hover {
                color: $red-color;
            }
            &:last-child {
                @extend .navbar ;
                background-color: #e7e7e7;
                border: 2px solid #333333; 
            }
        }
    }
}
