@import "colors";

$global-font-size: 18px;
$justify-center: center;
$standard-width: 100%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1.4rem;
}

.wrapper {
    display: flex;
    justify-content: $justify-center;

    .container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: $justify-center;
        margin: 0 auto;

        .navbar a {
            text-decoration: none;
            font-size: $global-font-size;
            padding: 1.3rem;
            &:hover {
                color: $red-color;
            }
            &:last-child {
                @extend .navbar ;
                background-color: $background;
                border: 2px solid $border; 
            }
        }

        .section1 {
            display: flex;
            margin-top: 3rem;
            gap: 1rem;

            div {
                width: $standard-width;
            }

            .smaller{
                width: calc($standard-width / 3);
            }
        }
    }
}
