.container {
    display: flex;
    background-color: lightblue;
    flex-direction: column-reverse;
}

.item {
    width: 150px;
    height: 150px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;;
}